@charset 'utf-8';

body {
    font-family: 'Kosugi Maru', 'Noto Sans TC', sans-serif;
    letter-spacing: 0.05em;
}

/* .container {
    max-width: 960px;
    margin: 2em auto;
} */

h2 {
    text-align: center;
    margin: 1.5em auto 0 auto;
    font-size: 25px;
}

/*---------------------------------
フォーム関連
--------------------------------*/

form {
    max-width: 560px;
    margin: 2em auto;
}

.form-check {
    display: inline-block;
}

.contact-alert {
    padding: .5em 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.contact-alert p {
    margin-bottom: 0em;
}

.form-group legend {
    font-size: 16px;
}

.submit-area {
    display: flex;
    justify-content: center;
}

.submit-area input {
    display: block;
    margin: 2em 1em;
    width: 90px;
}

.confirm-output {
    background-color: rgb(202, 234, 255);
    padding: .5em;
}

/*---------------------------------
　履歴閲覧
-----------------------------------*/

.contactform-show-table {
    margin: 2em auto;
    width: 1200px;
}

.contactform-show-table table {
    font-size: 14px;
}

.contactform-show-table th {
    width: 69px;
    text-align: center;
}

.contactform-show-table th a {
    color: white;
    text-decoration: underline;
}

.contactform-show-table td {
    vertical-align: middle;
    text-align: center;
}

.contactform-show-table td:nth-child(7) {
    padding: 1em;
}

nav[aria-label="Pagination Navigation"] div:first-child {
    display: none;
}

nav[aria-label="Pagination Navigation"] div {
    text-align: center;
}
svg {
    width: 30px;
}

.pagination {
    justify-content: center;
    margin-top: 2em;
}

/*--------------------------------------
お問い合わせ完了画面
----------------------------------------*/
.contactform-done {
    margin-bottom: 600px;
    text-align: center;
    margin-top: 2em;
    padding: 2em;
}

.contactform-done a {
    font-size: 14px;
    margin-top: 2em;
}