@charset 'utf-8';

body {
    font-family: 'Kosugi Maru', 'Noto Sans TC', sans-serif;
    letter-spacing: 0.05em;
}

/* .container {
    max-width: 960px;
    margin: 2em auto;
} */

h2 {
    text-align: center;
    margin: 1em auto 0 auto;
    font-size: 25px;
}

/*---------------------------------
フォーム関連
--------------------------------*/

form {
    max-width: 560px;
    margin: 2em auto;
}

#form_submit {
    display:block;
    margin: 2em auto;
    width: 80px;
}
.form-check {
    display: inline-block;
}

.contact-alert {
    padding: .5em 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.contact-alert p {
    margin-bottom: 0em;
}

.form-group legend {
    font-size: 16px;
}
